.confirmDivHeading{
    text-align: center;
    background: aliceblue;
    padding: 14px 32px;
}
.confirmDivHeading h1{
    font-weight: 700;
    font-size: 200%!important;
    margin-top: 0px;
    padding-bottom: 53px;
    color: rgb(0, 158, 127);
    margin-bottom: 0;
    padding-bottom: 0;
    /* font-weight: 700;
    font-size: 200% !important;
    padding-top: 9px;
    padding-bottom: 9px;
    color: #fff; */
}